body
{
    background: #f3f5f8;
}


.page-line
{
    box-shadow: 1px 0 10px rgba(0,0,0, 0.1), 1px 0 10px rgba(0,0,0, 0.1);
}

/*-----PANE LINE-------*/

.profile-data
{
    background-color: #FAFAFA;
    border-top: 1px solid #000;
    padding-bottom: 15px;
}

.profile-image
{
    width: 132px;
    margin: -55px 0 0 11px;
    background-color: #fff;
    padding: 9px;
    border: 1px solid #CCC;
    box-shadow: 1px 0 10px rgba(0,0,0, 0.1), 1px 0 10px rgba(0,0,0, 0.1);
}
    .profile-image img
    {
        margin-bottom: 8px;
    }

.profile-name
{
    margin-left: 13px;
}
    .profile-name h1
    {
        font-size: 29px;
    }

.profile-values
{
    margin: 17px 13px 0 0;
}
    .profile-values h1
    {
        font-size: 17px;
        margin: 0px;
        width: 100%;
        text-align: center;
    }
    .profile-values p
    {
        width: 100%;
        text-align: center;
        font-size: 24px;
    }
    
#profile-itens
{
    border-top: 1px solid #B9B8B8;
    float: left;
    width: 100%;
    padding-top: 10px;
    background-color: #FFF;
}
    #profile-itens ul
    {
        margin-left: 11px;
        border-bottom: 1px solid #ECECEC;
        padding: 37px 0 49px 0px;
        width: 98%;
    }
        #profile-itens ul:last-child
        {
            border-bottom: 0;
        }
    #profile-itens ul li
    {
        list-style: none;
        width: 23%;
        margin-right: 2.66%;
        float: left;
        border: 1px solid #CCC;
        box-shadow: 1px 0 0px rgba(0,0,0, 0.01), 1px 0 10px rgba(0,0,0, 0.1);
        background-color: #FFF;
        cursor: pointer;
    }
        #profile-itens ul li:hover
        {
            background-color: #f3f5f8;
            -webkit-transition: background-color .3s linear;
            -moz-transition: background-color .3s linear;
            -o-transition: background-color .3s linear;
            -ms-transition: background-color .3s linear;
            transition: background-color .3s linear;
        }
        #profile-itens ul li:last-child
        {
            margin-right: 0;
        }
        #profile-itens ul li h1
        {
            margin-left: 5%;
            font-size: 16px;
        }
        .profile-box-img
        {
            margin-left: 5%;
            width: 90%;
            border: 1px solid rgba(0,0,0,.12);
            float: left;
        }
            .item-value
            {
                margin-right: 7px;
            }
            #profile-itens ul li img
            {
                float: left;
                width: 100%;
            }
            #profile-itens ul li .item-values
            {
                margin-left: 5%;
                padding: 3px 0 7px 0px;
            }
            #profile-itens ul li .item-values p
            {
                float: left;
                margin-right: 10px;
            }
                #profile-itens ul li .item-values p span
                {
                   font-weight: bold;
                }
                
                .modal-content
                {
                    float: left;
                }
                
                .profile-modal-imagem{
                    float: left;
                    width: 60%;
                }
                    .profile-modal-imagem img{
                        float: left;
                        width: 100%;
                    }
                .profile-modal-data{
                    float: right;
                    width: 40%;
                }
                    .profile-modal-data h1{
                        float: left;
                        width: 93%;
                        margin: 16px 0 6px 13px;
                        font-size: 25px;
                    }
                    .profile-modal-data h2{
                        float: left;
                        width: 93%;
                        margin-left: 13px;
                        font-size: 14px;
                        margin: 0 0 0 13px;
                    }
                    .profile-modal-data h3{
                        float: left;
                        width: 93%;
                        margin: 16px 0 6px 13px;
                        font-size: 18px;
                    }
                    #item-modal-comments
                    {
                        padding-left: 17px;
                    }
                    #item-modal-comments li
                    {
                        list-style: none;
                        padding: 0;
                        margin-bottom: 5px;
                    }
                        #item-modal-comments li img
                        {
                            border: 1px solid #CCC;
                        }
                    .profile-modal-data .comment-camp{
                        width: 93%;
                        margin: auto;
                    }
                    .profile-modal-data .comment-btn{
                        margin: 7px 0 9px 3.5%;
                    }
                    
.item-line-commerce
{
    font-size: 15px;
    padding: 4px 0 4px 9px;
    margin-top: -29px;
    background: rgba(1,1,1,.725);
    color: #fff;
}
                    
#line-itens 
{
    border-top: 1px solid #B9B8B8;
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
}
    #line-itens .row
    {
        background-color: #FFF;
        margin-bottom: 25px;
    }
    
    .line-user-profile
    {
        border-bottom: 1px solid #CCC;
        padding-bottom: 9px;
    }
        .line-user-profile img
        {
            border: 1px solid #CCC;
             margin: 19px 8px 0 0;
        }
        .line-user-profile h1
        {
            font-size: 20px;
        }
        
        .line-user-values div
        {
            padding: 0px;
        }
            .line-user-values h1
            {
                font-size: 12px;
                width: 100%;
                float: left;
                text-align: center;
                margin: 10px 0 0 0;
            }
                .line-user-values p
                {
                    width: 100%;
                    float: left;
                    text-align: center;
                }
            .line-item-title
            {
                margin: 0px;
                margin-top: 10px;
            }
            .line-item-subtitle
            {
                margin: 0px;
                font-size: 15px;
                margin-bottom: 10px;
            }
            
            .line-like-box
            {
                border-top: 1px solid #CCC;
                border-bottom: 1px solid #CCC;
                padding: 15px 0;
            }
                .line-like-box h3
                {
                    margin: 0;
                    font-size: 16px;
                }
            
            .line-comment-box
            {
                
            }
                .line-comment-box ul
                {
                    padding: 0;
                }
                .line-comment-box ul li
                {
                    list-style: none;
                    width: 100%;
                    float: left;
                    margin: 2px 0;
                }
                .line-comment-box h3
                {
                    margin: 13px 0 6px 0px;
                    font-size: 16px;
                }
                .line-comment-box textArea
                {
                }
            
                .line-comment-box button
                {
                    margin: 7px 0 8px 0%;
                }
            
            #item-line-comments
            {
                margin-left: 11px;
                padding: 0px;
                width: 98%;
            }
                #item-line-comments li 
                {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 5px;
                }
                #item-line-comments li img
                {
                    border: 1px solid #CCC;
                }