.width-100
{
    width: 100%;
}
.page-title
{
    margin: 30px 0;
}

/*=====página game producer====*/
.page-title .btn
{
    margin-top: 27px;
}

.required{
    color:red;
}


@media (max-width: 990px) {
    /*para o campo de data */
    .date-field .col-md-4
    {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.table-filter>tbody>tr>td
{
    border:0;
}

.input-search
{
    width: 78%;
}
#btn-search
{
    width: 20%;
    padding: 6px 0px;
}